.valign-center
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax-container
{
	/*height: 400px;*/
}

.margin-top-2
{
	margin-top: 2em;
}

.toast > .content
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
}

.toast > .content > .material-icons
{
	margin-right: 5px;
}

.helper-text
{
	font-weight: 500;
}